{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Bosh sahifa</a></li>
                <li><a href="#about">Men haqimda</a></li>
                <li><a href="#projects">Loyihalar</a></li>
                <li><a href="#skills">Ko‘nikmalar</a></li>
                <li><a href="#contact">Aloqa</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; {{ now|date:"Y" }} Mening Portfolio Saytim</p>
    </footer>

    <!-- JS ulash -->
    <script src="{% static 'portfolio/js/main.js' %}"></script>
</body>
</html>
